/*.obj
/*.resharper
/*.sou
/*.user
/Bin
/Lib
/_ReSharper.*
/packages
Berksfile.lock
.kitchen/
.vs/
*.bak
SCM/LibraryManifest.rpt
bin/
obj/
*.user
.idea/**/workspace.xml
*.dbmdl
*.jfm
.kitchen.yml
Policyfile.lock.json
*.zip
contentModel.xml
*.local.xml
.idea/
.DS_Store
SCM/
